.five-day-forecast-cards {
    display: flex;
    justify-content: center;
    padding-left: 75px;

    .forecast-card {
        width: 175px;
        height: 93px;
        padding-top: 5px!important;

        .forecast-card--title {
            font-weight: bold;
            margin-bottom: 3px;
        }

        .day-night-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            .day-night-phrase {
                font-size: 15px!important;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 0 8px 0 20px;
            }

            .day-night-weather {
                font-size: 15px!important;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}
